@import '../../styles/variables.scss';

.categories {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin-right: 25px;

	button {
		padding: 13px 30px;
		font-weight: bold;
		background-color: $white;
		border: 3px solid $gray-block;
		border-radius: 30px;
		cursor: pointer;
		transition: background-color 0.1s ease-in-out;

		&:hover {
			background-color: darken($white, 5%);
		}

		&:active {
			background-color: darken($white, 5%);
		}

		&.active {
			color: $white;
			background-color: $black;
		}
	}
}

@media screen and (max-width: 1480px) {
	.categories {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
