@import '../../styles/variables.scss';

.wrapper {
	margin-right: 82px;
	width: 100%;
}

.categories {
	display: flex;
	position: relative;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	gap: 10px;
}

.categoryButton {
	flex: 1 0 188px;
	padding: 13px 30px;
	font-weight: bold;
	background-color: $white;
	border: 3px solid $gray-block;
	border-radius: 30px;
	cursor: pointer;
	transition: all $duration ease-in-out;

	&:hover {
		background-color: darken($white, 5%);
	}

	&:active {
		background-color: darken($white, 5%);
	}

	&.active {
		color: $white;
		background-color: $black;
	}
}

.seeAll {
	color: $gray;
	font-size: 20px;
	cursor: pointer;
	margin-top: 15px;
}

@media screen and (max-width: 1050px) {
	.seeAll {
		margin: 15px 0;
		width: 100%;
	}

	.wrapper {
		margin-right: unset;
	}
}

@media screen and (max-width: 450px) {
	.categories {
		margin: 0 25px;
	}
}
