@import '../../styles/variables.scss';

.categories {
	display: grid;
	grid-gap: 10px;
	margin-right: 25px;
	grid-template-columns: repeat(5, 180px);
	position: relative;
}

.categoryButton {
	padding: 13px 30px;
	font-weight: bold;
	background-color: $white;
	border: 3px solid $gray-block;
	border-radius: 30px;
	cursor: pointer;
	transition: all $duration ease-in-out;

	&:hover {
		background-color: darken($white, 5%);
	}

	&:active {
		background-color: darken($white, 5%);
	}

	&.active {
		color: $white;
		background-color: $black;
	}
}

.seeAll {
	position: absolute;
	top: 63px;
	color: $gray;
	font-size: 20px;
	cursor: pointer;
}

@media screen and (max-width: 1280px) {
	.categories {
	}
}
