@import '../../styles/variables';

.button {
	display: inline-block;
	min-width: 95px;
	padding: 9px;
	text-align: center;
	background-color: $orange;
	border: 1px solid transparent;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color $duration ease-in-out,
		border-color $duration ease-in-out;

	&,
	span {
		color: $white;
	}

	i,
	span,
	path,
	svg {
		transition: all $duration ease-in-out;
	}

	&:hover {
		background-color: darken($color: $orange, $amount: 8%);
	}

	&:active {
		background-color: darken($color: $orange, $amount: 12%);
		transform: translateY(1px);
	}

	&.buttonOutline {
		background-color: $white;
		border-color: $orange;

		&,
		span {
			color: $orange;
		}

		svg {
			path {
				fill: $orange;
			}
		}

		&:hover {
			background-color: $orange;

			.count {
				color: $orange;
				background-color: $white;
			}

			&,
			span {
				color: $white;
			}

			svg {
				path {
					fill: $white;
				}
			}
		}

		&:active {
			background-color: darken($color: $orange, $amount: 8%);
		}
	}

	.buttonAdd {
		svg {
			margin-right: 2px;
		}

		span {
			font-weight: 600;
			font-size: 16px;
		}
	}
}

.count {
	position: relative;
	top: -1px;
	left: 3px;
	display: inline-block;
	width: 22px;
	height: 22px;
	color: $white;
	font-weight: 600;
	font-size: 13px;
	font-style: normal;
	line-height: 22px;
	background-color: $orange;
	border-radius: 30px;
}

.plus {
	color: $orange;
	cursor: pointer;

	&:hover {
		fill: $black;
	}
}

.buttonsBlock {
	margin-top: 6px;

	> button + button {
		margin-left: 10px;
	}
}
