@import '../../styles/variables';

.cart {
	display: grid;
	grid-template-columns: [start] 1fr 1fr [end];
	width: 75%;
	margin: 0 auto;
	color: $black;
	font-weight: 400;
	font-size: 22px;
	line-height: 27px;

	> a + a {
		justify-self: end;
	}
}

.title {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;

	span {
		margin-left: 17px;
	}
}

.position {
	grid-column: start / end;
	margin-top: 60px;

	&:last-of-type {
		margin-bottom: 40px;
	}
}

.clear {
	display: flex;
	align-items: center;
	color: $gray-button;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
	justify-self: flex-end;

	span {
		margin-left: 7px;
	}
}

.count {
	margin-bottom: 40px;

	span {
		font-weight: 600;
		font-size: 24px;
	}
}

.amountTitle {
	justify-self: flex-end;

	span {
		color: $orange;
		font-weight: 600;
		font-size: 24px;
	}
}

.back {
	justify-self: flex-start;
}

a {
	.orderNow {
		justify-self: flex-end;
	}
}

@media screen and (max-width: 1050px) {
	.cart {
		width: 100%;
	}
}

@media screen and (max-width: 580px) {
	.cart {
		grid-template-columns: [start] 1fr [end];
	}

	.clear {
		justify-self: unset;
		margin-top: 10px;
	}

	.position {
		margin-top: 30px;

		&:last-of-type {
			margin-bottom: 20px;
		}
	}

	.count {
		margin-bottom: 10px;
	}

	.amountTitle {
		justify-self: unset;
		margin-bottom: 10px;
	}

	.back {
		justify-self: unset;
		margin-bottom: 10px;
	}

	.orderNow {
		justify-self: unset;
	}
}
