* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
	list-style: none;
	outline: none;
}

html {
	text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $black;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
	color: $black;
}

h1 {
	font-size: 48px;
}

h2 {
	font-weight: 600;
	font-size: 28px;
	line-height: 30px;
}

a {
	text-decoration: none;
}

@mixin noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	user-select: none; /* Safari */
	user-select: none; /* Konqueror HTML */
	user-select: none; /* Old versions of Firefox */
	user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
