$orange: rgb(254, 95, 30);
$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$gray: #7b7b7b;
$gray-block: #f3f3f3;
$white: white;
$container-width: 90%;
$duration: 0.15s;
$skeleton-main-color: #f3f3f3;
$skeleton-white: white;
