$orange: rgb(254, 95, 30);
$black: #232323;
$background: #FFDF8C;
$gray-line: #F6F6F6;
$gray-button: #CACACA;
$gray: #7B7B7B;
$gray-block: #F3F3F3;
$white: white;
$container-width: 90%;
$duration: 0.15s;
$skeleton-main-color: #F3F3F3;
$skeleton-white: white;
