.cls-1 {
	fill: #8a490e;
}
.cls-2 {
	fill: #a16d3e;
}
.cls-3 {
	fill: #f6b361;
}
.cls-4 {
	fill: #f8c281;
}
.cls-5 {
	fill: #ffff97;
}
.cls-6 {
	fill: #ffffac;
}
.cls-7 {
	fill: red;
}
.cls-8 {
	fill: #d39953;
}
