.cls-1 {
	fill: #8A490E;
}

.cls-2 {
	fill: #A16D3E;
}

.cls-3 {
	fill: #F6B361;
}

.cls-4 {
	fill: #F8C281;
}

.cls-5 {
	fill: #FFFF97;
}

.cls-6 {
	fill: #FFFFAC;
}

.cls-7 {
	fill: red;
}

.cls-8 {
	fill: #D39953;
}
