@import '../../styles/variables';

.pizzaBlock {
	width: 280px;
	text-align: center;
}

.image {
	width: 260px;
}

.title {
	width: 70%;
	height: 24px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: $skeleton-main-color;
	border-radius: 10px;
}

.selector {
	display: flex;
	flex-direction: column;
	height: 85px;
	padding: 6px;
	background-color: $skeleton-main-color;
	border-radius: 10px;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.price {
	width: 30%;
	height: 30px;
	background-color: $skeleton-main-color;
	border-radius: 10px;
}

.list {
	display: flex;
	flex: 1;

	&:first-of-type {
		margin-bottom: 6px;
	}

	div {
		flex: 1;
		padding: 8px;

		&.active {
			background: $skeleton-white;
			border-radius: 5px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04%);
		}
	}
}

.plus {
	width: 30px;
	height: 30px;
	background-color: $skeleton-main-color;
	border-radius: 50%;

	&:hover {
		fill: $black;
	}
}

.buttonsBlock {
	display: flex;

	> div + div {
		margin-left: 10px;
	}
}

.button {
	display: flex;
	justify-content: space-between;
	min-width: 95px;
	height: 50px;
	padding: 9px;
	border: 1px solid transparent;
	border-radius: 30px;

	&,
	span {
		color: $skeleton-white;
	}

	&.buttonOutline {
		background-color: $skeleton-white;
		border-width: 5px;
		border-color: $skeleton-main-color;
	}
}

.buttonTitle {
	width: 65%;
	height: 100%;
	background-color: $skeleton-main-color;
	border-radius: 10px;
}

.count {
	width: 30%;
	height: 100%;
	background-color: $skeleton-main-color;
	border-radius: 50%;
}

@media screen and (max-width: 450px) {
	.pizzaBlock {
		width: 100%;
	}

	.image {
		width: 100%;
	}
}
