@import '../../styles/variables.scss';

.items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 65px 0;
	justify-items: center;
}

.title {
	margin-top: 45px;
	margin-bottom: 35px;
}

.pages {
	font-size: 35px;
	color: $black;
	font-weight: 600;
	display: flex;
	gap: 15px;
	justify-content: center;
	margin-top: 25px;
	button {
		cursor: pointer;
	}
}

.active {
	color: $orange;
}

@media screen and (max-width: 1450px) {
	.items {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 55px 45px;
	}
}

@media screen and (max-width: 1150px) {
	.items {
		grid-template-columns: 1fr 1fr;
		gap: 45px 25px;
	}
}

@media screen and (max-width: 1050px) {
	.title {
		margin-top: 35px;
		text-align: center;
	}
}

@media screen and (max-width: 800px) {
	.items {
		grid-template-columns: 1fr;
		gap: 35px 0;
	}
}

@media screen and (max-width: 450px) {
	.title {
		font-size: 22px;
	}
}
