@import '../../styles/variables.scss';

.items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 65px 0;
	justify-items: center;
}

.title {
	margin: 35px 0;
}

@media screen and (max-width: 1460px) {
	.items {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 55px 45px;
	}
}

@media screen and (max-width: 1150px) {
	.items {
		grid-template-columns: 1fr 1fr;
		gap: 45px 25px;
	}
}

@media screen and (max-width: 800px) {
	.items {
		grid-template-columns: 1fr;
		gap: 35px 0;
	}
}
