.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

svg {
	display: inline-block;
	vertical-align: top;
}

h1 {
	display: inline-block;
	margin: 6px 0 6px 10px;
	font-weight: 900;
	font-size: 20px;
	line-height: 1;
	vertical-align: top;
}

button + button {
	margin-left: 10px;
}

.welcome {
	margin-right: 10px;
	color: #333;
	font-size: 14px;
}
