@import '../../styles/variables';

.categories {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	gap: 10px;
	width: 78%;
}

.category {
	flex: 1 0 188px;
	height: 52px;
	padding: 13px 30px;
	background-color: $skeleton-white;
	border: 3px solid $skeleton-main-color;
	border-radius: 30px;

	&.active {
		color: $skeleton-white;
		background-color: $skeleton-main-color;

		.title {
			background-color: $skeleton-white;
		}
	}
}

.title {
	width: 100%;
	height: 100%;
	background-color: $skeleton-main-color;
	border-radius: 10px;
}
