@import '../../styles/variables.scss';

.header {
	margin-bottom: 40px;
	border-bottom: 1px solid $gray-line;

	.container {
		display: grid;
		grid-template-columns: 1fr auto auto;
		align-items: center;
		justify-content: space-between;
	}

	.logoBlock {
		display: flex;

		.logo {
			width: 38px;
			margin-top: 5px;
			margin-right: 15px;
		}

		img {
			margin-right: 15px;
		}

		h1 {
			color: $black;
			font-weight: 800;
			font-size: 24px;
			letter-spacing: 1%;
			text-transform: uppercase;
		}

		p {
			color: $gray;
		}
	}
}

.search {
	margin-right: 35px;
}
