@import '../../styles/variables.scss';

.emptyCart {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
	text-align: center;
}

.title {
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0.01em;
	color: $black;
	margin-bottom: 10px;
}

.text {
	font-size: 18px;
	line-height: 145.4%;
	text-align: center;
	letter-spacing: 0.01em;
	color: $gray;
}

.img {
	width: 300px;
	margin-top: 47px;
	margin-bottom: 60px;
}

.back {
	padding: 18px 41px;
	    background-color: $black;
}
