@import '../../styles/variables';

.search {
	padding: 5px 10px;
	background-color: $gray-block;
	border: 1px solid $orange;
	border-radius: 30px;
}

.wrapper {
	position: relative;
}

.icon {
	position: absolute;
	right: 45px;
}

@media screen and (max-width: 1050px) {
	.search {
		margin: unset;
	}

	.icon {
		position: absolute;
		right: 10px;
	}
}
