@import '../../styles/variables.scss';

.search {
	border: 1px solid $orange;
	background-color: $gray-block;
	border-radius: 30px;
	padding: 5px 10px;
}

.wrapper {
	position: relative;
}

.icon {
	position: absolute;
	right: 45px;
	cursor: pointer;
}
