@import '../../styles/variables.scss';

.sort {
	position: relative;
	display: flex;

	.label {
		display: flex;
		align-items: center;
		background-color: unset;
		border: unset;
		cursor: pointer;

		svg {
			margin-right: 8px;

			&.down {
				transform: rotate(180deg);
			}
		}

		b {
			margin-right: 8px;
		}

		span {
			color: $orange;
			border-bottom: 1px dashed $orange;
		}
	}

	.popup {
		position: absolute;
		right: 0;
		display: none;
		width: 160px;
		margin-top: 35px;
		padding: 10px 0;
		overflow: hidden;
		background: $white;
		border-radius: 10px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1%);

		&.popupActive {
			display: block;
		}

		.sortBlock {
			overflow: hidden;

			button {
				width: 100%;
				padding: 12px 20px;
				background-color: unset;
				border: unset;
				cursor: pointer;

				&:hover {
					background: rgba($color: $black, $alpha: 0.05%);
				}

				&.active {
					color: $orange;
					font-weight: bold;
					background: rgba($color: $black, $alpha: 0.05%);
				}
			}
		}
	}
}

.icon {
	cursor: pointer;
	svg {
		margin-right: 8px;

		&.down {
			transform: rotate(180deg);
		}
	}
}
