@import '../../styles/variables.scss';

.error {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	justify-content: center;
	height: 60vh;
	text-align: center;
}

.text {
	font-size: 25px;
}

.image {
	width: 260px;
}
