@import '../../styles/variables.scss';

.contentTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 1050px) {
	.contentTop {
		flex-wrap: wrap;
		justify-content: center;
	}
}


