@import '../../styles/variables';

.contentTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 1050px) {
	.contentTop {
		flex-wrap: wrap;
		justify-content: center;
	}
}
