@import '../../styles/variables.scss';

.notFound {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.ops {
	font-size: 60px;
}

.image {
	width: 500px;
	height: 300px;
	margin: 10px 0;
	padding: 10px;
	object-fit: cover;
	object-position: 60% 0;
	border: 1px solid $gray;
	border-radius: 10px;
}

.title {
	font-size: 35px;
}

.homepage {
	font-weight: 500;
	font-size: 28px;

	a {
		color: $orange;
		font-size: 28px;
	}
}

@media screen and (max-width: 1050px) {
	.image {
		width: 330px;
		height: 230px;
	}

	.title {
		font-size: 25px;
	}

	.homepage {
		a {
			font-size: 24px;
		}
	}
}

@media screen and (max-width: 450px) {
	.image {
		width: 230px;
		height: 170px;
	}
}
